a{
  text-decoration: none;
  color: white;
  line-height: 2.5;
}
body{
  background-color: #f7f9fd;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18;
}
p{
  line-height: 1.5;
  color: hsl(208, 11%, 55%);
  font-weight: 400;
  padding-bottom: 2rem;
  margin: 0 auto;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: hsl(192, 100%, 9%);
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  font-size: 1.5rem;
  margin-top: 0;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
i{
  font-size: 2rem;
  margin: 0 1rem 2rem 0;

}
.site-top{
  width: 90%;
  margin: auto;
  padding-top: 5rem;
}
.logo-img{
  float: left;
  width: 15rem;
}
.top-button{
  float: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0.1rem;
  border: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #9a52ff;
  font-size: 100%;
  background: #f7f9fd;
  padding: 1rem 5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}
.top-button:hover{
  background-color: #9a52ff;
  color: #f7f9fd;
}
.site-top::after{
  content: "";
  display: table;
  clear: both;
}
.wrapper{
  position:absolute;
  width:100%;
  height:1600px;
  overflow:hidden;
  z-index: -1;
}
.colorbox{
  -ms-transform: rotate(50deg); /* IE 9 */
  -webkit-transform: rotate(50deg); /* Safari */
  transform: rotate(50deg);
  height: 95rem;
  width: 95rem;
  background: linear-gradient(to left, hsl(265, 100%, 66%) 0%, hsl(322, 100%, 66%) 100%);
  position: absolute;
  left: 46rem;
  top: -41rem;
  border-radius: 7%;
  z-index: -1;
}
.whitebox{
  -ms-transform: rotate(50deg); /* IE 9 */
  -webkit-transform: rotate(50deg); /* Safari */
  transform: rotate(50deg);
  height: 80rem;
  width: 60rem;
  background: white;
  position: absolute;
  left:10rem;
  top:12rem;
  border-radius: 7%;
  z-index: -2;
}
.site-middle{
  padding-top: 5rem;
  margin: auto;
}
.mockups{
  margin: auto;
  width: 57%;
}
.mockups-img{
  padding-bottom: 3rem;
  width: 100%;
}
.middle-button{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0.1rem;
  border: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #f7f9fd;
  font-size: 100%;
  background: #ff52bf;
  padding: 1rem 5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}
.middle-button:hover{
  background-color: #f7f9fd;
  color: #ff52bf;
}
.users{
  padding-top: 30rem;
  width: 85%;
  margin: auto;
}
.users::after{
  content: "";
  clear: both;
  display: table;
}
.users-img{
  width: 45%;
  float: left;
}
.users-text{
  width: 45%;
  float: right;
  padding-left: 5rem;
  text-align: left;
}
.try_it_free{
  background-color: white;
  margin: 15rem auto;
  width: 55%;
  padding: 4rem 4rem 6rem;
  box-shadow: 0px 0px 50px #ceddef;
  border-radius: .3rem;
}
.site-bottom{
  background-color: #00252e;
  text-align: left;
}
.white{
  color: white;
}
.bottomA{
  margin: 0 auto;
  width: 85%;
}
.logo-light{
  padding: 5rem 0 2rem;
  width: 15rem;
  display: block;
}
.bottomB{
  box-sizing: border-box;
  margin: 0 auto;
  width: 85%;
}
.bottomB:after{
  content: "";
  display: table;
  clear: both;
}
.bottomC{
  width: 85%;
  margin: 0 auto;
  background-color: #00252e;
}
.padb{
  padding-bottom: 0;
  padding-top: 7rem;
  font-size: .7rem;
  text-align: center;
}
.col{
  width: 40%;
  float: left;
  color: white;
}
.colb{
  width: 30%;
  float: left;
  color: white;
}
.coll{
  width: 50%;
  float: left;
}
.subtext{
  padding-bottom: 1rem;
  font-size: .9rem;
}
.form{
  text-align: right;
}
.input{
  height: 2.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
}


@media screen and (max-width: 600px) {
  .logo-img{
    width: 40%;
  }
  .top-button{
    padding: 3% 15%;
  }
  .colorbox{
    left: 27rem;
  }
  .site-middle{
    padding-top: 5rem;
  }
  .mockups{
    width: 90%;
  }


}
@media screen and (max-width: 1000px) {
  .users-img{
    width: 100%;

  }
  .users-text{
    width: 100%;

  }
}
